/* estil dels exercicis */
@font-face {
    font-family: zelda;
    src: url("./fonts/Triforce.ttf");
 }
body { 
    margin: 0px;
    background-image: url("img/c3uhsgo1vx541.jpg");
    background-color: #cccccc;
    background-size: cover;
}

.logo {
    z-index: 999;
    position: relative;
    left: 0px;
    bottom: 0px;
    display: flex;
    max-height: 160px;
  }

.fondo_menu{
    background-image: url(img/menu.jpg);
    opacity: 0.85;
    position:absolute;
    top: 0px;
    left: 0px;
    height: 150px;
    width: 2000px;
    z-index: -10;
}
.box{
    display: flex;
    border-left: 6px solid rgb(137, 50, 252);
    border-right: 6px solid rgb(137, 50, 252);
    border-bottom: 6px solid rgb(218, 50, 252);
    border-top: 6px solid rgb(218, 50, 252);
}

.navegador {
    display:flex;
    justify-content: space-between;
}

.nav-esquerra  {
    left: 110px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position:absolute;
    top: 70px;
    background-color: rgb(56, 12, 92);
    border-bottom: 2px solid rgb(137, 50, 252);
    border-top: 2px solid rgb(137, 50, 252);
    border-right: 2px solid rgb(137, 50, 252);
}

.active {
    background-color: #da9f51;
    padding: 15px;
  }

.navegador > .nav-esquerra > div {
    font-family:zelda;
    margin-left: 25px;
    margin-right: 25px;
    text-transform: capitalize;
    font-size: 120%;
}

.nav-link-esquerra a {
    color: #f7ffaf;
    text-decoration: none;
}

.nav-link-esquerra a:hover {
    text-decoration: none;
    color: rgb(180, 0, 75);
    opacity: 0.8;
}

.boxa {
    background-color: rgba(255, 255, 255, 0.836);
    border-left: 6px solid rgb(137, 50, 252);
    border-right: 6px solid rgb(137, 50, 252);
    border-bottom: 3px solid rgb(236, 79, 250);
    border-top: 3px solid rgb(236, 79, 250);
    padding: 50px;
}

.nav-dreta {
    display:flex;
    justify-content:flex-end;
    font-weight: bold;
    letter-spacing: 3px;
    color: #340958;
}

.alumne {
    position:absolute;
    right: 1%;
    color:rgb(58, 20, 107);
}
.alumne a {
    color:rgb(75, 25, 80);
    text-decoration: none;
    cursor: help;
}
.alumne a:hover {
    color:rgb(3, 142, 206)
}