/* estil dels exercicis */

body { 
    margin: 0px;
    background-image: url("img/c3uhsgo1vx541.jpg");
    background-color: #cccccc;
    background-size: cover;
}

.logo {
    position: relative;
    left: 0px;
    bottom: 0px;
    display: flex;
    max-height: 160px;
  }

.box {
    display: flex;
    background-image: url(img/menu.jpg);
    border-left: 6px solid rgb(137, 50, 252);
    border-right: 6px solid rgb(137, 50, 252);
    border-bottom: 6px solid rgb(218, 50, 252);
    border-top: 6px solid rgb(218, 50, 252);
}

.navegador {
    display:flex;
    justify-content: space-between;
    padding: 50px;
}

.nav-esquerra  {
    display: flex;
}

.navegador > .nav-esquerra > div {
    font-size: 150%;
    margin-right: 40px;
    text-transform: capitalize;
    font-weight: bold;
}

.nav-link-esquerra {
    height: 25px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transition: 0.8s;
}

.nav-link-esquerra a {
    color: rgb(91, 22, 105);
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link-esquerra a:hover {
    border-bottom: 2px solid rgb(233, 89, 89);
    border-top: 2px solid rgb(233, 89, 89);
}

.nav-link-esquerra a:hover {
    color: rgb(21, 138, 80);
}



.boxa {
    background-color: rgba(255, 255, 255, 0.836);
    border-left: 6px solid rgb(137, 50, 252);
    border-right: 6px solid rgb(137, 50, 252);
    border-bottom: 3px solid rgb(250, 79, 193);
    border-top: 3px solid rgb(250, 79, 193);
    padding: 50px;
}

.nav-dreta {
    display:flex;
    justify-content:flex-end;
    font-weight: bold;
    letter-spacing: 3px;
    color: #340958;
}

.alumne {
    color:rgb(137, 50, 252);
}